<?xml version="1.0" encoding="UTF-8"?>
<tns:RuptoRequest xmlns:rucom="urn:ru:rupto:common/1.0.0"
                  xmlns:rutmk="urn:ru:rupto:trademark/1.0.1"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.0.4"
                  xmlns:tmk="http://www.wipo.int/standards/XMLSchema/ST96/Trademark/1.0.3"
                  xmlns:fipsx="http://www1.fips.ru/standards/XMLSchema/ST96/FipsExtra/1.0.0"
                  xmlns:fipscom="http://www1.fips.ru/standards/XMLSchema/ST96/FipsCommon/1.0.0"
                  xmlns:tns="http://ws.rupto.ru/smev3/gosuslugi/clients/tm_registation/1.0.4"
                  xmlns:epgu="http://rupto.ru/standards/XMLSchema/epgu/1.0.1"
                  xmlns:ehd="http://rupto.ru/standards/XMLSchema/ehd/1.0.0"
>
    <epgu:Order>
        <epgu:orderId>4650031914</epgu:orderId>
        <epgu:ServiceCode>60012726</epgu:ServiceCode>
        <epgu:TargetCode>-60012726</epgu:TargetCode>
        <epgu:orderDate>2024-10-08</epgu:orderDate>
        <epgu:SubServiceCode>10071</epgu:SubServiceCode>
        <epgu:qualificationCodeINBag>
            <epgu:qualificationCodeIN>МНЗ</epgu:qualificationCodeIN>
        </epgu:qualificationCodeINBag>
    </epgu:Order>
    <tns:Service>
        <tns:TrademarkApplication>
            <tmk:TrademarkApplication com:st96Version="V4_0">
                <com:DocumentIncludedBag>
                    <com:DocumentIncluded com:languageCode="ru">
                        <com:DocumentName>Заявляемое обозначение</com:DocumentName>
                        <com:FileName>Таблица ТЗ.docx</com:FileName>
                        <com:DocumentDate>2024-10-08</com:DocumentDate>
                        <com:DocumentLocationURI></com:DocumentLocationURI>
                        <com:DocumentSizeQuantity com:unitCode="б">17969</com:DocumentSizeQuantity>
                        <com:IPOfficeCodeBag>
                            <com:IPOfficeCode>RU</com:IPOfficeCode>
                        </com:IPOfficeCodeBag>
                    </com:DocumentIncluded>
                    <com:DocumentIncluded com:languageCode="ru">
                        <com:DocumentName>Описание заявляемого обозначения</com:DocumentName>
                        <com:FileName>Список заявок.docx</com:FileName>
                        <com:DocumentDate>2024-10-08</com:DocumentDate>
                        <com:DocumentLocationURI></com:DocumentLocationURI>
                        <com:DocumentSizeQuantity com:unitCode="б">13494</com:DocumentSizeQuantity>
                        <com:IPOfficeCodeBag>
                            <com:IPOfficeCode>RU</com:IPOfficeCode>
                        </com:IPOfficeCodeBag>
                    </com:DocumentIncluded>
                </com:DocumentIncludedBag>
                <tmk:TrademarkBag>
                    <tmk:Trademark>
                        <com:RegistrationOfficeCode>RU</com:RegistrationOfficeCode>
                        <com:ApplicationNumber>
                            <com:ApplicationNumberText></com:ApplicationNumberText>
                        </com:ApplicationNumber>
                        <com:ApplicationDate>2024-10-08</com:ApplicationDate>
                        <tmk:MarkCurrentStatusCode>Application Filed</tmk:MarkCurrentStatusCode>
                        <tmk:MarkCurrentStatusDate>2024-10-08</tmk:MarkCurrentStatusDate>
                        <tmk:MarkCategory>Trademark</tmk:MarkCategory>
                        <tmk:MarkRepresentation>
                            <tmk:MarkFeatureCategory>Figurative</tmk:MarkFeatureCategory>                                                                                                                                                                                                                                                                                                                                                                                                <tmk:MarkReproduction>
                            <tmk:WordMarkSpecification>
                                <tmk:MarkSignificantVerbalElementText com:languageCode="ru"></tmk:MarkSignificantVerbalElementText>
                            </tmk:WordMarkSpecification>
                            <tmk:MarkImageBag>
                                <tmk:MarkImage com:sequenceNumber="1">
                                    <com:FileName></com:FileName>
                                    <tmk:MarkImageColourClaimedText com:languageCode="ru" com:sequenceNumber="1">Синий</tmk:MarkImageColourClaimedText>
                                </tmk:MarkImage>
                            </tmk:MarkImageBag>
                        </tmk:MarkReproduction>
                        </tmk:MarkRepresentation>
                        <tmk:GoodsServicesBag>
                            <tmk:GoodsServices>
                                <tmk:GoodsServicesClassificationBag>
                                    <tmk:GoodsServicesClassification>
                                        <tmk:ClassificationKindCode>Nice</tmk:ClassificationKindCode>
                                    </tmk:GoodsServicesClassification>
                                </tmk:GoodsServicesClassificationBag>
                                <tmk:ClassificationKindCode>Nice</tmk:ClassificationKindCode>
                                <com:ClassificationVersion>12-2024</com:ClassificationVersion>
                                <tmk:ClassDescriptionBag>
                                    <tmk:ClassDescription>
                                        <tmk:ClassNumber>1</tmk:ClassNumber>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">агар-агар для промышленных целей</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">азот</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">актиний</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">эфир этиловый</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">эфиры целлюлозы простые для промышленных целей</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">эфиры целлюлозы сложные для промышленных целей</tmk:GoodsServicesDescriptionText>
                                        <tmk:ClassificationTermBag>
                                            <tmk:ClassificationTerm>
                                                <tmk:ClassificationTermText>варежки</tmk:ClassificationTermText>
                                            </tmk:ClassificationTerm>
                                        </tmk:ClassificationTermBag>
                                    </tmk:ClassDescription>
                                    <tmk:ClassDescription>
                                        <tmk:ClassNumber>2</tmk:ClassNumber>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">аннато [краситель]</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">аурамин</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">бальзам канадский</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">экстракты красильные из древесины</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">эмали [лаки]</tmk:GoodsServicesDescriptionText>
                                        <tmk:GoodsServicesDescriptionText com:languageCode="ru" com:sequenceNumber="1">эмульсии серебра [пигменты]</tmk:GoodsServicesDescriptionText>
                                        <tmk:ClassificationTermBag>
                                            <tmk:ClassificationTerm>
                                                <tmk:ClassificationTermText>валенки</tmk:ClassificationTermText>
                                            </tmk:ClassificationTerm>
                                        </tmk:ClassificationTermBag>
                                    </tmk:ClassDescription>
                                </tmk:ClassDescriptionBag>
                            </tmk:GoodsServices>
                        </tmk:GoodsServicesBag>
                        <tmk:PriorityBag>
                            <tmk:Priority>
                                <com:PriorityCountryCode>IB</com:PriorityCountryCode>
                                <com:ApplicationNumber>
                                    <com:ApplicationNumberText>2024802457</com:ApplicationNumberText>
                                </com:ApplicationNumber>
                                <com:PriorityApplicationFilingDate>2024-10-07</com:PriorityApplicationFilingDate>
                                <com:CommentText com:languageCode="ru" com:sequenceNumber="1">(646) внесения записи о территориальном расширении по международной регистрации
                                    (пункт 4 статьи 1495 Кодекса)</com:CommentText>
                            </tmk:Priority>
                        </tmk:PriorityBag>

                        <tmk:ApplicantBag>
                            <tmk:Applicant com:sequenceNumber="1" rutmk:entityCategory="Russian Federation organization">
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Entity identifier">1027710013033</com:PartyIdentifier>                                                 <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Tax identifier">7710439772</com:PartyIdentifier>                                                                                                     <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Customer number">504701001</com:PartyIdentifier>                                                                                                                                                 <com:Contact com:languageCode="ru">
                                <com:Name>
                                    <com:OrganizationName com:languageCode="ru">
                                        <com:OrganizationStandardName>Общество с ограниченной ответственностью &quot;ОБИ Франчайзинговый Центр&quot;</com:OrganizationStandardName>                                                          </com:OrganizationName>
                                </com:Name>
                                <com:PostalAddressBag>
                                    <com:PostalAddress>
                                        <com:PostalAddressText com:languageCode="ru" com:sequenceNumber="1">141400, Московская область, город Химки, микрорайон Икеа, 3</com:PostalAddressText>                                                         </com:PostalAddress>
                                </com:PostalAddressBag>
                            </com:Contact>
                                <com:PublicationContact com:languageCode="ru">
                                    <com:Name>
                                        <com:EntityName com:languageCode="ru"></com:EntityName>
                                    </com:Name>
                                    <com:PostalAddress>
                                        <com:PostalAddressText com:languageCode="ru" com:sequenceNumber="1">443052, обл. Самарская, г. Самара, пр-кт. Кирова, 1</com:PostalAddressText>                                                                     </com:PostalAddress>
                                    <com:PhoneNumberBag>
                                        <com:PhoneNumber>+7(906)3445373</com:PhoneNumber>
                                    </com:PhoneNumberBag>
                                    <com:EmailAddressBag>
                                        <com:EmailAddressText com:sequenceNumber="1">vlas.krasovskiy@mail.ru</com:EmailAddressText>                                                                     </com:EmailAddressBag>
                                </com:PublicationContact>
                                <com:NationalityCode>RU</com:NationalityCode>
                            </tmk:Applicant>
                        </tmk:ApplicantBag>
                        <com:RepresentativeBag>
                            <com:Representative com:sequenceNumber="1">
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Contract worker number">1001</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Birth date">19.10.1994</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Passport number">0001 333333</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Passport issue date">11.11.2011</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Passport issuing authority">ГУ МВД Самара, 630006</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Birth place">Самара</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="National identification number">022-097-122 11</com:PartyIdentifier>
                                <com:PartyIdentifier com:officeCode="RU" com:partyIdentifierCategory="Tax identifier">942303466186</com:PartyIdentifier>
                                <com:Contact com:languageCode="ru">
                                    <com:Name>
                                        <com:PersonName com:languageCode="ru">
                                            <com:PersonFullName>Красовский Влас Алексеевич</com:PersonFullName>
                                        </com:PersonName>
                                    </com:Name>
                                    <com:PostalAddressBag>
                                        <com:PostalAddress>
                                            <com:PostalAddressText com:sequenceNumber="1">443052, обл. Самарская, г. Самара, пр-кт. Кирова, 1</com:PostalAddressText>
                                        </com:PostalAddress>
                                        <com:PostalAddress>
                                            <com:PostalStructuredAddress com:languageCode="ru">
                                                <com:AddressLineText com:addressLineCategory="Street" com:sequenceNumber="1">443052, обл. Самарская, г. Самара, пр-кт. Кирова, 1</com:AddressLineText>
                                                <com:CityName>Самара</com:CityName>
                                                <com:GeographicRegionName com:geographicRegionCategory = "Province">(63) Самарская обл.</com:GeographicRegionName>
                                                <com:CountryCode>RU</com:CountryCode>
                                                <com:PostalCode>443052</com:PostalCode>
                                            </com:PostalStructuredAddress>
                                        </com:PostalAddress>
                                    </com:PostalAddressBag>
                                    <com:EmailAddressBag>
                                        <com:EmailAddressText com:sequenceNumber="1">vlas.krasovskiy@mail.ru</com:EmailAddressText>
                                    </com:EmailAddressBag>
                                    <com:PhoneNumberBag>
                                        <com:PhoneNumber>+7(906)3445373</com:PhoneNumber>
                                    </com:PhoneNumberBag>
                                </com:Contact>
                                <rucom:ProfessionalRepresentativeSpecialization>Изобретения и полезные модели</rucom:ProfessionalRepresentativeSpecialization>
                                <rucom:ProfessionalRepresentativeSpecialization>Промышленные образцы</rucom:ProfessionalRepresentativeSpecialization>
                                <rucom:ProfessionalRepresentativeSpecialization>Товарные знаки и знаки обслуживания</rucom:ProfessionalRepresentativeSpecialization>
                                <rucom:ProfessionalRepresentativeSpecialization>Географические указания и наименования мест происхождения товаров</rucom:ProfessionalRepresentativeSpecialization>
                                <com:RepresentativeCategory>Professional representative</com:RepresentativeCategory>
                                <com:CommentText com:sequenceNumber="Дополнительные сведения">Юдина Елена Владимировна</com:CommentText>
                            </com:Representative>
                        </com:RepresentativeBag>


                        <tmk:NationalGoodsServices>
                            <tmk:NationalClassTotalQuantity>2</tmk:NationalClassTotalQuantity>
                        </tmk:NationalGoodsServices>
                        <com:CorrespondenceAddress>
                            <com:Contact com:languageCode="ru">
                                <com:Name>
                                    <com:PersonName com:languageCode="ru">
                                        <com:PersonFullName>САВОСИНА АНАСТАСИЯ ВИТАЛЬЕВНА</com:PersonFullName>
                                    </com:PersonName>
                                </com:Name>
                                <com:PostalAddressBag>
                                    <com:PostalAddress>
                                        <com:PostalAddressText com:languageCode="ru" com:sequenceNumber="1">199178, г. Санкт-Петербург, а/я 93, для Савосиной А.В</com:PostalAddressText>                                                         </com:PostalAddress>
                                </com:PostalAddressBag>
                                <com:EmailAddressBag>
                                    <com:EmailAddressText com:sequenceNumber="1" rucom:preferredContact="true">anastasia.savosina@claims.ru</com:EmailAddressText>                                                     </com:EmailAddressBag>
                            </com:Contact>
                        </com:CorrespondenceAddress>
                        <rutmk:AdditionalConditions>
                            <rutmk:TrademarkInclusion>
                                <rutmk:FamousPersonName>false</rutmk:FamousPersonName>
                                <rutmk:GoodReward>false</rutmk:GoodReward>
                                <rutmk:OfficialSymbol>false</rutmk:OfficialSymbol>
                                <rutmk:NaturalCulturalHeritage>false</rutmk:NaturalCulturalHeritage>
                            </rutmk:TrademarkInclusion>
                            <rutmk:PreviousHolderCopyrightConsent>false</rutmk:PreviousHolderCopyrightConsent>
                            <rutmk:SimilarMark>false</rutmk:SimilarMark>
                        </rutmk:AdditionalConditions>
                    </tmk:Trademark>
                </tmk:TrademarkBag>
                <com:PaymentBag>
                    <com:Payment>
                        <com:PaymentReference>Пошлина по п. 2.1. и по п. 2.4. Приложения №1 к Положению о пошлинах</com:PaymentReference>                                 <com:PaymentModeCategory>Charge</com:PaymentModeCategory>
                        <com:PaymentMethod>
                            <com:OtherPaymentMethod>По квитанции от Роспатента</com:OtherPaymentMethod>
                        </com:PaymentMethod>
                        <com:PayerName>
                            <com:PersonName com:languageCode="ru">
                                <com:PersonFullName>Красовский Влас Алексеевич</com:PersonFullName>
                            </com:PersonName>
                        </com:PayerName>
                        <com:PaymentDate>2024-10-08</com:PaymentDate>
                        <com:PaymentFeeBag>
                            <com:PaymentFee>
                                <com:BasicFeeAmount com:currencyCode="RUB">12250</com:BasicFeeAmount>                                     </com:PaymentFee>
                        </com:PaymentFeeBag>
                        <com:FeePayableTotalAmount com:currencyCode="SSP">12250</com:FeePayableTotalAmount>                                                                 <rucom:Payer>
                        <com:PartyIdentifier com:officeCode="RU" xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.0.3" com:partyIdentifierCategory="Tax identifier">942303466186</com:PartyIdentifier>                                         <com:PartyIdentifier com:officeCode="RU" xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.0.3" com:partyIdentifierCategory="National identification number">022-097-122 11</com:PartyIdentifier>                                                                                                                                             </rucom:Payer>
                    </com:Payment>
                </com:PaymentBag>
                <com:SignatureBag>
                    <com:Signature>
                        <com:Contact com:languageCode="ru">
                            <com:Name>
                                <com:PersonName com:languageCode="ru">
                                    <com:PersonFullName>Влас Красовский Алексеевич</com:PersonFullName>
                                </com:PersonName>
                            </com:Name>
                        </com:Contact>
                        <com:ElectronicSignature>
                            <com:ElectronicSignatureDate xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.0.3">2024-10-08</com:ElectronicSignatureDate>
                            <com:ElectronicSignaturePlace xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.0.3">ЕПГУ</com:ElectronicSignaturePlace>
                            <com:ElectronicEnhancedSignature xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common/1.0.3" com:pkcs7Indicator="true"></com:ElectronicEnhancedSignature>
                            <rucom:SignatureKind>УКЭП</rucom:SignatureKind>
                        </com:ElectronicSignature>
                    </com:Signature>
                </com:SignatureBag>
            </tmk:TrademarkApplication>
        </tns:TrademarkApplication>
    </tns:Service>
    <ehd:EHDSpec>
        <ehd:ApplicationDirectoryKind ehd:numberValue="100001" ehd:textValue="DR_TRADEMARK">
            <ehd:DirectoryKind ehd:numberValue="150000" ehd:textValue="DC_PRIMARY">
                <ehd:FileKind ehd:numberValue="1236" ehd:textValue="APPLICATION">
                    <ehd:FileName>application.xml</ehd:FileName>
                </ehd:FileKind>
                <ehd:FileKind ehd:numberValue="1236" ehd:textValue="APPLICATION">
                    <ehd:FileName>pdf_application.pdf</ehd:FileName>
                </ehd:FileKind>
                <ehd:FileKind ehd:numberValue="1059" ehd:textValue="TRADEMARK_IMAGE">
                    <ehd:FileName>Таблица ТЗ.docx</ehd:FileName>
                </ehd:FileKind>
                <ehd:FileKind ehd:numberValue="1011" ehd:textValue="MARK_REPRESENTATION">
                    <ehd:FileName>Список заявок.docx</ehd:FileName>
                </ehd:FileKind>
            </ehd:DirectoryKind>
        </ehd:ApplicationDirectoryKind>
    </ehd:EHDSpec>
</tns:RuptoRequest>